<footer>
    <div class="blocFooter">
        <div class="blocFooterInfo text-white">
            <p><i class="fa-solid fa-burger"></i> Au 34 BURGER<br>
                Mentions Légales,<br>
                CGV
            </p>
        </div>

        <div class="blocFooterInfo text-white">
            <h1 class="telFooter"><i class="fa-solid fa-phone"> 06 08 25 35 18</i></h1>
        </div>

        <div class="blocFooterInfo text-white">
            <p><i class="fa-solid fa-burger"></i> Au 34 BURGER<br>
                34 Av. Joseph Claussat,<br>
                63550 Saint-Rémy-sur-Durolle</p>
        </div>
    </div>
</footer>

<div class="footerResp">
    <div class="blocFondRespFooter">
        <div class="blocFooterResp">
            <div class="blocFooterInfo">
                <p class="telFooter"><i class="fa-solid fa-phone"> 06 08 25 35 18</i></p>
            </div>

            <div class="blocFooterInfo">
                <p> 34 Av. Joseph Claussat,<br>
                    63550 Saint-Rémy-sur-Durolle</p>
            </div>
        </div>
        <div class="mentionsLegaleResp">
            <p><i class="fa-solid fa-burger"></i>
                Mentions Légales
            </p>
            <p><i class="fa-solid fa-burger"></i>
                CGV
            </p>
        </div>
    </div>
</div>