{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block main %}
    <h1 class="text-white m-2 mt-5">Ci-dessous nos Conditions Générales de Vente (CGV)</h1>

    <div class="container">
        <div class="alignementMentions d-flex align-items-center justify-content-center flex-column text-white">


            <h2 class="text-white mt-5">Article 1 - Objet</h2>
            <p class="text-center w-75">Les présentes conditions générales de vente s'appliquent à toutes les ventes de produits à emporter
            effectuées par l'entreprise Romain MOREL à des clients particuliers ou
            professionnels.</p>

            <h2 class="text-white mt-5">Article 2 - Commandes</h2>
            <p class="text-center w-75">Les commandes peuvent être passées directement en magasin ou par téléphone. Les commandes par téléphone
            seront considérées comme définitives dès lors qu'elles auront été confirmées par le client et réglées par le
            moyen de paiement accepté par le vendeur. Les commandes passées directement en magasin seront réglées sur
            place.</p>

            <h2 class="text-white mt-5"> Article 3 - Prix</h2>
            <p class="text-center w-75">Les prix indiqués sur les menus et sur le site internet du vendeur sont exprimés en euros et sont toutes
            taxes comprises. Le vendeur se réserve le droit de modifier ses prix à tout moment, tout en garantissant au
            client l'application du prix en vigueur au jour de la commande.</p>

            <h2 class="text-white mt-5">Article 4 - Paiement</h2>
            <p class="text-center w-75">Le paiement peut être effectué en espèces, par carte bancaire ou via un moyen de paiement en ligne. Les
            paiements en ligne sont sécurisés par notre partenaire bancaire. En cas de paiement par chèque, la commande
            ne sera considérée comme définitive qu'après encaissement du chèque.</p>

            <h2 class="text-white mt-5"> Article 5 - Livraison</h2>
            <p class="text-center w-75">Le client peut venir récupérer sa commande directement en magasin, à l'heure convenue avec le vendeur lors
            de la commande. Aucune livraison n'est proposée.</p>

            <h2 class="text-white mt-5">Article 6 - Réclamation</h2>
            <p class="text-center w-75">Toute réclamation éventuelle du client doit être formulée auprès du vendeur au moment de la récupération de
            la commande.</p>

            <h2 class="text-white mt-5">Article 7 - Responsabilité</h2>
            <p class="text-center w-75">Le vendeur ne pourra être tenu responsable des conséquences liées à une mauvaise utilisation des produits
            vendus.</p>

            <h2 class="text-white mt-5">Article 8 - Propriété intellectuelle</h2>
            <p class="text-center w-75">Les marques, logos, et autres signes distinctifs (exceptés pour les boissons) utilisés sur le site internet du vendeur sont la propriété
            exclusive de celui-ci et ne peuvent être reproduits ou utilisés sans son autorisation écrite préalable.</p>

            <h2 class="text-white mt-5">Article 9 - Protection des données personnelles</h2>
            <p class="text-center w-75">Le vendeur s'engage à protéger les données personnelles de ses clients conformément à la réglementation en
            vigueur.</p>

            <h2 class="text-white mt-5">Article 10 - Droit applicable et juridiction compétente</h2>
            <p class="text-center w-75">Les présentes conditions générales de vente sont soumises au droit français. Tout litige relatif à leur
            interprétation ou à leur exécution relève des tribunaux compétents du lieu de résidence du client.</p>
        </div>
    </div>
{% endblock %}

