{% extends 'base.html.twig' %}

{% block title %}Edit Burger{% endblock %}

{% block main %}
    <h1>Modifier Supprimer un Burger</h1>

    {{ include('admin/burger/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('admin/burger/_delete_form.html.twig') }}

{% endblock %}
