* {
  box-sizing: border-box;
}

.centrageHomeSlider {
  width: 100vw  ;
  margin-bottom: 5vh;

  // Partie slider
  .alignementBackground {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper {
      width: 500px;
      height: auto;
      border-radius: 30px;

      .imgSlide {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .swiper-button-prev {
        color: #ff9400;
        margin-left: 5px;
      }

      .swiper-button-next {
        color: #ff9400;
        margin-right: 5px;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: #bf23ff;
      }
    }
  }

  // Partie écrite

  .titreTacosAlignement {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;

    .titreIntroHome {
      font-size: 5vw;
    }

    .presentationHome {
      font-size: 1.5rem;

    }
  }
}


//.centrageHomeSlider {
//  width: 100%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.alignementBackground {
//  width: 90%;
//  align-items: center;
//  justify-content: center;
//}
//
//.slider-container {
//  width: 50%;
//  height: auto;
//}
//
//.slider-container .swiper-slide img {
//  width: 100%;
//  height: auto;
//  object-fit: cover;
//  object-position: center;
//}
//
//.titreTacosAlignement {
//  width: 50%;
//  height: auto;
//}
//
////Couleur des flèches du slider
//
//.swiper-button-prev {
//  color: #ff9400;
//  margin-left: 5px;
//}
//
//.swiper-button-next {
//  color: #ff9400;
//  margin-right: 5px;
//}
//
//.swiper-pagination-bullet-active {
//  opacity: 1;
//  background-color: #ff9400;
//}


.alignburgerPresentation {
  display: flex;
  align-items: center;
  justify-content: center;

  .burgerPresentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 40vh;
    background-color: hsl(0, 0%, 21%);
    border-radius: 10px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
            100%, 0.075),
      /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
      /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    font-size: 1vw;
    margin-top: 5vh;
    text-decoration: none;

    .imgBurgerPresentation {
      width: 40%;
      height: auto;
      padding: 10px 50px 10px 50px;
    }

    .imgTacosPresentation {
      width: 50%;
      height: auto;
      padding: 10px 50px 10px 50px;
    }

    .imgDrinkPresentation {
      width: 20%;
      height: auto;
      padding: 10px 50px 10px 50px;
    }

    .aligementTxtPresentation {
      display: flex;
      flex-direction: column;
      height: 100%;

      .titre34Burger {
        width: auto;
        height: 50%;
        align-items: flex-end;
        justify-content: center;
        font-family: "Comica Brush", serif;
        font-size: 8vw;
        margin-bottom: 0;
        margin-top: 3vh;
        color: white;
      }

      .titre34Burger {
        display: flex;
      }

      ul {
        width: auto;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;
          height: auto;

          .imgIconesPresentation {
            width: 50%;
            height: auto;
          }

          .nbrBurgerIntro {
            font-family: "Hey August", serif;
            font-size: 4vw;
            color: white;
          }
        }
      }
    }
  }
}

.containerHomeSeparator {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  .separatorHomePage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 75%;
    height: auto;

    .titreBurgerTacosDrink {
      font-size: 5rem;
      color: white;
    }

    .separatorSpeciality {
      width: 60%;
      height: 3px;
      border-radius: 1px;
      background-color: white;
      opacity: 0.5;
      margin-left: 5vw;
    }

    .separatorContact {
      width: 50%;
      height: 3px;
      border-radius: 1px;
      background-color: white;
      opacity: 0.5;
      margin-left: 5vw;
    }
  }
}

.containerHomeSeparatorContact {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 10vh;

  .separatorHomePageContact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 75%;
    height: auto;

    .titreBurgerTacosDrinkContact {
      font-size: 5rem;
      color: white;
    }

    .separatorContact {
      width: 50%;
      height: 3px;
      border-radius: 1px;
      background-color: white;
      opacity: 0.5;
      margin-left: 5vw;
    }
  }
}

.containerPlanHomePage {
  display: flex;
  align-items: center;
  justify-content: center;

  .alignementHomePagePlan {
    width: 90%;
    height: auto;

    iframe {
      width: 100%;
      //height: 60vh;
      background-color: hsl(0, 0%, 21%);
      border-radius: 10px;
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
              100%, 0.075),
        /* shadow ring 👇 */
      0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
      0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
      0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
      0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      font-size: 1vw;
      margin-top: 3vh;
    }
  }
}


.burgerPresentation:hover {
  transition-duration: 0.5s;
  cursor: pointer;
  -webkit-box-shadow: -1px -1px 82px -8px rgba(252, 252, 252, 0.1);
  -moz-box-shadow: -1px -1px 82px -8px rgba(252, 252, 252, 0.1);
}


@media (max-width: 1100px) {
  .centrageHomeSlider {
    width: 100vw;
    height: auto;
    margin-bottom: 5vh;

    // Partie slider
    .alignementBackground {
      width: 100vw;
      height: auto;
      flex-direction: column;
      margin-top: -9vh;

      .swiper {
        width: 100vw;
        height: auto;
        border-radius: 0;
      }
    }

    // Partie écrite

    .titreTacosAlignement {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 3vh 50px 0 50px;

      .titreIntroHome {
        font-size: 10vw;
      }

      .presentationHome {
        font-size: 1.5rem;

      }
    }
  }

  .alignburgerPresentation {
    display: flex;
    align-items: center;
    justify-content: center;

    .burgerPresentation {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 70%;
      height: auto;
      background-color: hsl(0, 0%, 21%);
      border-radius: 10px;
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
              100%, 0.075),
        /* shadow ring 👇 */
      0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
      0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
      0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
      0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      font-size: 1vw;
      margin-bottom: 5vh;

      .imgBurgerPresentation {
        width: 75%;
        height: auto;
        margin-top: -5vh;
        z-index: 5;
      }

      .imgTacosPresentation {
        width: 100%;
        height: auto;
        margin-top: -5vh;
        z-index: 5;
      }

      .imgDrinkPresentation {
        width: 40%;
        height: auto;
        margin-top: -5vh;
        z-index: 5;
      }

      .aligementTxtPresentation {

        .titre34Burger {
          width: auto;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          font-family: "Comica Brush", serif;
          font-size: 12vw;
          margin-bottom: 0;
          margin-top: 1vh;
          color: white;
        }

        ul {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            height: auto;

            p {
              font-size: 5vw;
              font-weight: lighter;
            }

            .imgIconesPresentation {
              width: 20%;
              height: auto;
            }

            .nbrBurgerIntro {
              font-family: "Hey August", serif;
              font-size: 7vw;
              color: white;
            }
          }
        }
      }
    }
  }

  .containerHomeSeparator {
    margin-top: 5vh;

    .separatorHomePage {

      .titreBurgerTacosDrink {
        font-size: 4rem;
      }

      .separatorSpeciality {
        width: 40%;
      }
    }
  }

  .containerHomeSeparatorContact {
    margin-top: 5vh;

    .separatorHomePageContact {

      .titreBurgerTacosDrinkContact {
        font-size: 4rem;
      }

      .separatorContact {
        width: 30%;
      }
    }
  }


  .burgerPresentation:hover {
    opacity: 1;
    transition: opacity;
    transition-duration: 0.5s;
    cursor: pointer;
    -webkit-box-shadow: -1px -1px 82px -8px rgba(252, 252, 252, 0.1);
    -moz-box-shadow: -1px -1px 82px -8px rgba(252, 252, 252, 0.1);
  }
}
