{% extends 'base.html.twig' %}

{% block title %}Edit Burger{% endblock %}

{% block main %}
    <h1>Modifier Supprimer un Ingrédient</h1>

    {{ include('admin/tacos/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('admin/tacos/_delete_form.html.twig') }}

{% endblock %}
