{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <div class="alignementBackground">
        <div class="titreTacosAlignement">
            <h1 class="titreTacos text-white">Contact</h1>
            <h3 class="mt-2 mb-5 text-muted text-center">Si tu souhaites commander (pour l'instant c'est ici ;) )</h3>
            <h1 class="telContactResp text-white">06 08 25 35 18</h1>
            <h3 class="mt-2 mb-5 text-muted text-center">et si tu souhaites nous écrire :</h3>
            <h1 class="telContactResp text-white">client@34burger.fr</h1>
            <h3 class="mt-2 mb-5 text-muted text-center">Pour venir chercher ta commande, si tu n'es jamais venu</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2777.120840798012!2d3.593091315777351!3d45.88889621302481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f6bfa8959dd6f5%3A0x3d40949f594f5505!2sAu%2034%20burger%20%C3%A0%20emporter!5e0!3m2!1sfr!2sfr!4v1674486589406!5m2!1sfr!2sfr"
                    width="500px" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
