{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block main %}
    <h1 class="text-white mb-2">Mentions Légales</h1>

    <div class="container w-75">
        <div class="alignementMentions d-flex align-items-center justify-content-center flex-column text-white">
            <p class="mb-4">Le Site Internet " www34burger.fr" est propriété de l'EURL Morel ROMAIN au capital de 10000 euros.</p>

            <p>RCS Clermont-Ferrand 908 048 077</p>

            <p>SIRET 908 048 077 00014</p>

            <p>TVA Intracommunautaire : FR 26 908 048 077</p>

            <p class="mt-4">34 Avenue Joseph Claussat</p>
            <p>Saint Rémy su Durolle 63550</p>
            <p>Tél 06 08 25 35 18</p>

            <h2 class="text-white mt-5">Disponibilité</h2>
            <p class="text-center">Les offres de produits et prix sont valables tant qu'ils sont mentionnés comme disponibles. Les
                indications
                sur
                la disponibilité des produits vous sont fournies au moment de la prise de commande et/ou par affichage
                sur
                place.
            </p>

            <h2 class="text-white mt-5">Hébergement du site</h2>
            <p> Le Site Internet "www34.fr" est hébergé par la sociétè o2switch. Le nom de domaine est hébergé par
                la o2switch.
            </p>

            <h2 class="text-white mt-5">Propriété Intellectuelle</h2>
            <p class="text-center">Les Oeuvres, les Cartes et Photos reproduites sur le Site "www.34burger.fr" mises à la disposition des
                internautes
                sont
                protégées par le droit d'auteur. À ce titre et conformément au Code de la propriété intellectuelle,
                seule
                l'utilisation pour un usage privé réduit au cercle familial est autorisée. Toute autre utilisation est
                constitive de contrefaçon et sanctionnée au titre de la Propriété Intellectuelle.
                Les photos présentées sur le site ne sont communiquées qu'à titre illustratif et ne sont en aucun cas
                contractuelles. Nous vous invitons à vous reporter au descriptif de chaque produit pour en connaître les
                caractéristiques.</p>
        </div>
    </div>
{% endblock %}
